<!DOCTYPE html>
<html>

<head>
    <title>Agregar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <%- include('../partials/nav.ejs') %>

        <h1>Agregar libro</h1>

        <form action="/agregar-libro" method="post">
            <label>
                Titulo:
                <input type="text" name="titulo">
            </label><br>
            <label>
                Precio
                <input type="number" name="precio">
            </label><br>
            <label>
                Portada
                <!-- Ponemos temporalmente un value predeterminado -->
                <input type="text" name="portada" value="text">
            </label><br>


            <label for="autor">Autor</label>
            <select id="autor">
                <!-- Al usuario le muestro "King" pero a la base de datos le envío el ID a través del atributo "value" -->
                <option value="1">King</option>
                <option value="2">Radcliffe</option>
                <option value="3">Rice</option>
            </select><br>



            <input type="submit" value="Agregar libro">

        </form>
</body>

</html>